html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
	color: var(--color-dark);

	background-image: url(/starter-code/assets/bg-main-mobile.png);
	background-repeat: no-repeat;
	background-position: top -27rem right -20rem;
	height: 480px;

	z-index: -10;
}

a:link,
a:visited {
	text-decoration: none;
}

a[href='mailto:equalizer@example.com'] {
	color: var(--color-dark);
}

@media (min-width: 48em) {
	body {
		background-image: url(/starter-code/assets/bg-main-tablet.png);
		background-position: top -30rem right -11rem;
		height: 808px;
	}
}
@media (min-width: 90em) {
	body {
		background-image: url(/starter-code/assets/bg-main-desktop.png);
		background-position: top -35rem right -20rem;
	}
}
