html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(/starter-code/assets/bg-main-mobile.png);
	background-position: top -25rem left 2.5rem;
	background-repeat: no-repeat;
}
