@import '../abstracts/variables.css';

body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
}

.body-primary-style {
	color: var(--color-light);
	font-size: var(--primary-font-size);
	line-height: 1.7;
	margin: 0;
}

.body-secondary-style {
	font-size: var(--secondary-font-size);
	line-height: 1.625;
	margin: 0;
}

.primary-heading {
	font-weight: 700;
	font-size: 8.8rem;
	line-height: 1;
}
.secondary-heading {
	color: var(--color-light);
	font-weight: 700;
	font-size: 4rem;
	line-height: 1.3;
}
