@import '../abstracts/variables.css';

.btn {
	border: none;
	border-radius: 12px;
	font-weight: 700;
	font-size: 1.8rem;
	letter-spacing: -0.18px;
	line-height: 1.777;
	text-align: center;
	transition: all 0.3s;
	cursor: pointer;
	padding-top: 1.5rem;
	padding-bottom: 1.4rem;

	width: 100%;
	max-width: 33.3rem;
	margin-bottom: 1.6rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
}
