.header > .header-content > .primary-heading {
	font-size: 4rem;
	letter-spacing: -0.45px;
	margin-bottom: 2rem;
}

.header > .logo {
	margin-bottom: 6.4rem;
}

.body-secondary-style {
	margin-bottom: 6.4rem;
}

.section-cta {
	position: relative;
}

.phone-img-container {
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone-img {
	height: 100%;
	position: relative;
}

.bg-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60rem;
	border-radius: 12px;
	background-color: var(--color-dark);
	margin-top: -33.2rem;
}

.bg-img {
	height: 420px;
	align-self: flex-start;
	width: 100%;
	max-width: 28rem;
}

.cta-container {
	border-radius: 12px;
	background-color: var(--color-coral);
	color: var(--color-light);
	padding: 4.8rem 3.7rem 4.8rem 3.6rem;

	margin-top: -22rem;
	position: relative;
}

.cta-headline.secondary-heading {
	font-size: 3.2rem;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}

.cta-description.body-secondary-style {
	margin-bottom: 3.6rem;
}

.price {
	font-size: 6.5rem;
	font-weight: 700;
	line-height: 0.86;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 1.6rem;
	margin-bottom: 3.2rem;
}

.period {
	font-size: 2rem;
	font-weight: 500;
}

.btn-ios {
	font-family: inherit;
	color: var(--color-light);
	background-color: var(--color-dark);
}
.btn-ios:hover {
	background-color: var(--color-cyan);
}

.btn-android {
	font-family: inherit;
	color: var(--color-dark);
	background-color: var(--color-light);
}
.btn-android:hover {
	background-color: var(--color-light-orange);
}

.footer-logo {
	margin-bottom: 3.2rem;
}

.footer-disclaimer > strong {
	color: var(--color-dark);
}

.social-icons > .icon:not(:last-of-type) {
	margin-right: 2rem;
}

@media (min-width: 48em) {
	.bg-img-pattern-container {
		background-image: url(/starter-code/assets/bg-pattern-1.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top -3.2rem right -3.56rem;
		width: 100%;
		height: 40rem;
		position: absolute;
		z-index: -5;
	}

	.header > .header-content > .primary-heading {
		font-size: 6.4rem;
		letter-spacing: -0.73px;
		margin-bottom: 2.8rem;
	}

	.body-secondary-style {
		font-size: 1.8rem;
		line-height: 1.55;
		margin-bottom: 0;
	}

	.section-cta {
		padding: 0 3.9rem 0rem 3.3rem;
	}

	.phone-img-container {
		height: 560px;
		justify-content: flex-start;
		margin-left: 6.4rem;
	}

	.bg-img-container {
		justify-content: flex-start;
		margin-top: -44.2rem;
	}

	.bg-img {
		margin-top: -3.1rem;
		margin-left: 23rem;
	}

	.cta-container {
		width: 57%;
		padding: 4.8rem 4.9rem 3.6rem;
		max-width: 44.6rem;
		margin-left: 24rem;
		margin-top: -45rem;
	}

	.footer {
		display: flex;
		justify-content: space-between;
		padding-top: 8.7rem;
		padding-right: 3.9rem;
	}

	.footer-disclaimer {
		width: 65%;
		font-size: 1.6rem;
	}

	.social-icons {
		display: flex;
		justify-content: flex-end;
		width: 15%;
		margin-top: 9.4rem;
	}
}

@media (min-width: 90em) {
	.bg-img-pattern-container {
		background-position: top -4rem right 0;
		height: 46.8rem;
	}

	.header {
		padding: 6.2rem 0 10.8rem 16.6rem;
	}

	.header > .header-content > .primary-heading {
		font-size: 8.8rem;
		letter-spacing: -1px;
		margin-bottom: 4rem;
	}

	.body-secondary-style {
		font-size: 2rem;
		line-height: 1.7;
	}

	.section-cta {
		padding: 0 16.5rem 0rem;
	}

	.phone-img-container {
		height: 642px;
		margin-left: 10.2rem;
	}

	.bg-img {
		margin-top: -4rem;
		margin-left: 33.6rem;
		height: 468px;
		max-width: 31.2rem;
	}
}
